section {
    height: 100%;
}

.home {
    background: url(/images/HomeBG.png) no-repeat center center;
    min-height: calc(100vh - 50px);
    background-size: cover;
    color: #FDF9F9;
}

.introduction {
    background: url(/images/tom-barrett-1WC-p1H1zqg-unsplash.png) no-repeat center center;
    min-height: calc(100vh - 50px);
    background-size: cover;
}

.introduction .introd {
    color: #000;
    padding-left: 26%;
}

.introd .header {
    font-size: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    padding-top: 6%;
}

.home .container,
.gallery .container,
.contact .container {
    margin-top: -16em;
    cursor: pointer;
    font-size: 18px;
}

.home h3 {
    padding-left: 22%;
    padding-top: 20%;
    font-size: 48px;
    line-height: 56px;
}

.logo:first-child {
    position: absolute;
    width: 109px;
    height: 109px;
    /* margin-top: -1rem; */
    padding-left: -8rem;
}

.introduction .logo {
    position: relative;
    width: 109px;
    height: 109px;
    margin-top: -4%;
}
.gallery{
    background: url(/images/jared-rice-PibraWHb4h8-unsplash.png) no-repeat center center;
    min-height: calc(100vh - 50px);
    background-size: cover;
}
.gallery .logo{
    margin-top: -5%;
}
.contact{
    background: url(/images/grey.png) no-repeat center center;
    min-height: calc(100vh - 50px);
    background-size: cover;
    color: #FDF9F9;
}
.contact .logo{
    margin-top: -5%;
}
.contact .row{
    margin-top: 30px;
}